INCLUDE_G5_AUTH
INCLUDE_G5_UPDATABLES
DATABASE_URL
DATABASE_MAX_CONNECTIONS
DATABASE_MIN_CONNECTIONS
DATABASE_IDLE
DATABASE_AQUIRE
DATABASE_EVICT
DATABASE_SSL
DATABASE_LOGGING
DATABASE_CA
DATABASE_CERT
DATABASE_KEY
GA_PROPERTY
BASE_URL # aka HOST
PORT
BROWSER_URL # HOST:PORT
