apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{  .Chart.Name }}-deployment"
  labels:
    chart: '{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}'
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: "{{  .Chart.Name }}-selector"
      version: "current"
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  template:
    metadata:
      labels:
        app: "{{  .Chart.Name }}-selector"
        version: "current"
    spec:
      containers:
      - name: "{{  .Chart.Name  }}"
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.service.servicePort}}
        resources:
          requests:
            cpu: "{{ .Values.image.resources.requests.cpu }}"
            memory: "{{ .Values.image.resources.requests.memory }}"
        env:
          - name: TEST_VAR
            value: "us-234-2"
          - name: DATABASE_MAX_CONNECTIONS
            value: "10"
          - name: DATABASE_MIN_CONNECTIONS
            value: "0"
          - name: DATABASE_IDLE
            value: "1000"
          - name: DATABASE_AQUIRE
            value: "1000"
          - name: DATABASE_EVICT
            value: "1000"
          - name: DATABASE_SSL
            value: "true"
          # - name: DATABASE_CA
          #   valueFrom: 
          #     secretKeyRef:
          #       name: opex-template
          #       key: server-ca.txt
          # - name: DATABASE_CERT
          #   valueFrom: 
          #     secretKeyRef:
          #       name: opex-template
          #       key: client-cert.txt
          # - name: DATABASE_KEY
          #   valueFrom: 
          #     secretKeyRef:
          #       name: opex-template
          #       key: client-key.txt
          # - name: DATABASE_URL
          #   valueFrom: 
          #     secretKeyRef:
          #       name: opex-template
          #       key: db-connection.txt
          - name: PORT
            value : "{{ .Values.service.servicePort }}"
        {{- if .Values.image.livenessProbe }}
        livenessProbe:
{{ toYaml .Values.image.livenessProbe | indent 10 }}
        {{- end }}
        {{- if .Values.image.readinessProbe }}
        readinessProbe:
{{ toYaml .Values.image.readinessProbe | indent 10 }}
        {{- end }}